table{
  text-align: left;
  color:blueviolet;
  border-collapse: collapse;
}
table td,table th{
  border: 1px solid blueviolet;
  padding:10px;
  min-height: 160px;
}
img{
  width: 160px;
  height: 100px;
}
